
.container{
    background-color: white;
    box-shadow: rgba(16, 15, 15, 0.1);
    padding: 20px;
    margin-top:  40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    height: 85vh;
    color: black;
    
}
.detailImage{
    border-radius: 10px;
    border: 2px solid rgba(72, 68, 68, 0.462);
    align-content: center;
    width: 400px;
    height: 300px;
    margin: auto;
   
}


.buttonCardHotel{
    font-size: 12px;
    font-weight: bold;
    color: #ffff;
    background-color: #e26811;
    width: 120px;
    margin-right: 10px;
    margin-top:  40px;
}
.buttonCarrdHotel{
    font-size: 12px;
    font-weight: bold;
    color: #e26811;
    background-color: white;
    border: #e26811 solid 1px;
    width: 120px;
    margin-top:  40px;
}

.buttonCardHotel:hover{
    color: #e26811;
    border:1px solid #e26811;
    
}