
.containerMenu{
    position: fixed;
    background-color:rgba(123, 128, 133, 0.475);
    top: 0;
    left: 0;
    width: 100%;
    padding: 6px 0;
    z-index: 1000;
}
.contentOptionMenu{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
   
}
.labelMenu{
    color:black;
    font-weight: bold;
}
.labelMenu:hover{
color:#e26811;
cursor: pointer;
}